<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="./logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.core.ConsoleAppender">

        </layout>
    </appender>
</configuration>

